*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;

}

.login{
    background-color: cornflowerblue;
    width: 100%;
    height: 100vh;
    position: relative;   
}
.lb{
    width: 400px;
    position: absolute;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    background-color: darkgray;
    
}
.lb h1{
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.lb .inputt{
    position: relative;
}
.lb .inputt input{
    width: 100%;
    padding: 10px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 2px solid white;
}

.lb input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 5px;
}

#asd a{
    
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    color: white;
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn{
    
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    color: white;
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 5px;
}

