body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(white,black);
}


#tabid{

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
}

thead tr th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: rgb(73, 10, 10);
  }
  #tab{background-color: #04AA6D;}